<% flash.each do |key, message| %>
  <div aria-live="polite" aria-atomic="true" class="notification position-absolute">
    <div
    class="alert position-relative <%= flash_class(key) %>"
    role="alert" aria-live="assertive" aria-atomic="true"
    data-controller="notification"
    data-notification-delay-value="3000"
    data-transition-enter-from="opacity-0 translate-x-6"
    data-transition-enter-to="opacity-100 translate-x-0"
    data-transition-leave-from="opacity-100 translate-x-0"
    data-transition-leave-to="opacity-0 translate-x-6"
  >
      <div class="d-flex justify-content-between">
        <p><%= message %></p>
        <div type="button" class="close" aria-label="Close" data-action="click->notification#hide">
          <span aria-hidden="true">&times;</span>
        </div>
      </div>
    </div>
  </div>
<% end %>
